[submodule "www/vendors/JSON-js"]
	path = www/vendors/JSON-js
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "www/vendors/jade"]
	path = www/vendors/jade
	url = https://github.com/visionmedia/jade.git
[submodule "www/vendors/history.js"]
	path = www/vendors/history.js
	url = https://github.com/balupton/history.js.git
