body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 15px

a:link, a:active, a:visited
    color #3fa3ff
    text-decoration none

h1, h2, h3, h4, h5, h6
  margin 10px 0px 0px 0px

h1
  border-bottom 1px solid gray

a:hover
  text-decoration underline

span.info
  font-size 13px
  color white
  font-weight bold
  padding-left 5px
  padding-right 5px
  background-color black
  border-radius 3px

blockquote
  color gray
  text-decoration italic
  font-weight bold
  margin 0
  padding 5px

blockquote.small
  margin-left 10px
  padding-left 5px
  border-left 3px solid gray
  font-size 13px
  color gray