h1 Awesome

p This view just sets some title.

pre.prettyprint.linenums.lang-coffee
  | AppView = require 'app/views/app_view'
  | Style = require 'styles/title/awesome'
  | 
  | module.exports = class Awesome extends AppView
  | 
  |   title: 'Theoricus is awesome'