h1 Is

p This view just sets some title.

pre.prettyprint.linenums.lang-coffee
  | AppView = require 'app/views/app_view'
  | Style = require 'styles/title/is'
  | 
  | module.exports = class Is extends AppView
  | 
  |   title: 'Theoricus is'