h1 Theoricus

p This view just sets some title.

pre.prettyprint.linenums.lang-coffee
  | AppView = require 'app/views/app_view'
  | Style = require 'styles/title/theoricus'
  | 
  | module.exports = class Theoricus extends AppView
  |   
  |   title: 'Theoricus'