<header>
  <h1><nav><a href="/">Probatus</a></nav></h1>
  <blockquote><i>Theoricus's test application</i></blockquote>
</header>

<nav class="menu">
  <div class="section">
    <h3>Routing</h3>
    <ul>
      <li><a id="routing-simple" href="/routing/simple">/simple</a></li>
      <li><a id="routing-deep" href="/routing/deep">/deep</a></li>
      <li><a id="routing-dynamic" href="/routing/dynamic">/dynamic</a></li>
      <li><a id="routing-dynamic-theoricus" href="/routing/dynamic/theoricus">/dynamic/theoricus</a></li>
    </ul>
  </div>
  
  <div class="section">
    <h3>Title</h3>
    <ul>
      <li><a id="title-theoricus" href="/title/theoricus">/title/theoricus</a></li>
      <li><a id="title-is" href="/title/is">/title/is</a></li>
      <li><a id="title-awesome" href="/title/awesome">/title/awesome</a></li>
    </ul>
  </div>

</nav>
